.input{
    float: right;
}
/* tr:first-child{
    background-color: rgb(0, 107, 110);
} */

tr:hover{
    background-color: rgba(1, 77, 20, 0.514) !important;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
